
*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    cursor:pointer;
    opacity: 0.8;
    transition-duration: 0.1s;
}
a:hover{
    opacity:1;
    transition-duration: 0.2s;
}


body{
    font: normal 16px "Arial",sans-serif;
    color:#555;
    /*text-align: center;*/
}
hr{
    width:100px;
    height: 1px;
    background-color: #2196F3;
    border:0;
    margin:50px auto;

}

.round{

    border:6px solid #2196F3;
    border-radius: 50%;
}

section{

    background-color: #FFF;
    padding: 125px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section p{

    max-width: 800px;
    /*text-align: center;*/
    margin-bottom: 35px;
    padding: 0px 20px;
    line-height: 2;

}

section h3{

    color:#414A4F;
    text-transform: capitalize;
    font: 32px "Arial",sans-serif;
    margin:25px;
}

.smallerheading{

    font-size:75%;
}

ul,nav{

    list-style: none;
}


@media(max-width:1000px){
    section{
        padding:100px 50px;
    }

}

@media(max-width:600px){
    section{
        padding:80px 30px;
    }

}

ul.grid{

    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*HEADER */
header{
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    max-width:100%;
    height: 100%;

}
header h3{
    padding: 20px;
    font-family: "Arial",sans-serif;

}
header ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    position: absolute;
    left:200px;
    top:20px;

}

header ul li{
    margin: 0px 10px;

}

header ul li:first-child{
    margin-left:0;
}

header ul li:last-child{
    margin-right:0;
}




/*FOOTER */
footer{
    background-color: rgba(0,0,0,0.5);
    color:white;
    padding:60px 0px;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:30px;
    justify-content: center;
}

footer ul li{
    padding: 0px 10px;

}

footer ul li:first-child{
    margin-left:0;
}

footer ul li:last-child{
    margin-right:0;
}

footer p{
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgba(0,0,0,0.4);
    font-size: 75%;

}
