
*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    cursor:pointer;
    opacity: 0.8;
    transition-duration: 0.1s;
}
a:hover{
    opacity:1;
    transition-duration: 0.2s;
}


body{
    font: normal 16px "Arial",sans-serif;
    color:#555;
    /*text-align: center;*/
}
hr{
    width:100px;
    height: 1px;
    background-color: #2196F3;
    border:0;
    margin:50px auto;

}

.round{
    border:6px solid #2196F3;
    border-radius: 50%;
}

section h2{
    text-align: center;
}

#about{
    text-align: center;
    align-content: center;
}
section{
    background-color: #FFF;
    padding: 125px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section p{

    max-width: 800px;
    /*text-align: center;*/
    margin-bottom: 35px;
    padding: 0px 20px;
    line-height: 2;


}

section h3{

    color:#414A4F;
    text-transform: capitalize;
    font: 32px "Arial",sans-serif;
    margin:25px;
}

.smallerheading{

    font-size:75%;
}

ul,nav{

    list-style: none;
}


@media(max-width:1000px){
    section{
        padding:100px 50px;
    }

}

@media(max-width:600px){
    section{
        padding:80px 30px;
    }

}

ul.grid{

    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*HEADER */
header{
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.7);
    color:#fff;
    width:100%;
    z-index: 10;
    padding:35px 100px 35px;
   align-items: center;
    display: flex;
    justify-content: space-around;

}
header h3{
    font-family: "Arial",sans-serif;

}
header nav{
    display: flex;
}

header nav li{
    margin: 0px 15px;

}

header nav li:first-child{
    margin-left:0;
}

header nav li:last-child{
    margin-right:0;
}

@media(max-width:1000px){
    header{
        padding:20px;
    }

}

@media(max-width:600px){
    header {
        flex-direction: column;
        transition-duration: 0.3s;
    }
    header h3{
        margin-bottom: 15px;
        transition-duration: 0.3s;

    }
}



/*HERO */
.hero{

    background-color: transparent;
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
}

.hero .background-image{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 75%;
    z-index: -1;
    background-size: cover;
    background-color: ##1A77C1;
}

/*this is to add the ash color hue or dim the background color*/
.hero .background-image:after{

   content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: #414A4F;
    opacity: 0.75;
    z-index: -2;
}
.hero h2{
    font:bold 60px 'Georgia';
    font-size: 90px;
    text-shadow:3px 3px #000;
    margin-bottom: 15px;

}
.hero h3{
    font-size:1.5em;
    color: azure;

}




/*FOOTER */
footer{
    background-color: rgba(0,0,0,0.5);
    color:white;
    padding:60px 0px;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:30px;
    justify-content: center;
}

footer ul li{
    padding: 0px 10px;

}

footer ul li:first-child{
    margin-left:0;
}

footer ul li:last-child{
    margin-right:0;
}

footer p{
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgba(0,0,0,0.4);
    font-size: 75%;

}
